*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* contenitore box */
.box-container{
  padding: 10px;
}

img{
  width: 100%;
}

/* contenitore per effetto layover */
  .layover{
  width: 30%;
  height: 35%;
  background-color: rgba(0,0,0,0.5);
}

/* box per le immagini */
  .box{
  width: 30%;
  height: 35%;
  margin-bottom: 5px;
  position: relative;
  }

  .city-name{
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 2px 2px #000000;
  }

  .box:hover .layover{
    background-color: rgba(0,0,0,0.2);
  }

  .box:hover .city-name{
    text-shadow: none;
  }
