*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin-top: 100px;
}


/* header */

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 82px;
  background: grey;
  z-index: 1;
}

.menu{
  line-height: 80px;
  text-align: center;
}

.menu li{
  display: inline-block;
  padding: 0 20px;
}

.menu a{
  text-decoration: none;
  color: #4BB4D8;
  cursor: pointer;
}

.active{
  border-bottom: 2px solid green;
}

.logo{
  width: 50px;
  vertical-align: middle;
}

.menu li:hover{
  background: green;
}

/* contenitore box */
.box-container{
  padding: 10px;
}

img{
  width: 100%;
}


/* contenitore box */
.box-container{
  padding: 10px;
  width:35%;
}

/* contenitore per effetto layover */
.layover{
  height: 35vh;
  background-color: rgba(0,0,0,0.5);
}

/* box per le immagini */
.box{
  height: 35vh;
  border: 1px solid black;
  margin-bottom: 5px;
  background-size: cover;
  position: relative;
  }

  .city-name{
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 2px 2px #000000;
  }

  .box:hover .layover{
    background-color: rgba(0,0,0,0.2);
  }

  .box:hover .city-name{
    text-shadow: none;
  }
